.HomePage .container .sale {
    padding-top: 100px;
    padding-bottom: 20px;
    max-width: 350px;
    margin: auto;
}
.HomePage .token-progress {
    max-width: 300px;
    margin: auto;
}

.HomePage .container .sale input {
    max-width: 350px;
}


.HomePage .container .form .input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.HomePage .bean_receive {
    padding-bottom: 10px;
}